<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ speaker.firstName }} {{ speaker.lastName }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteContact(speaker._id)">Delete</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="speaker.email">email: <a ng-href="mailto:{{ speaker.email }}" target="_blank">{{ speaker.email }}</a></p>
    <p ng-if="speaker.phone.mobile">phone (m): {{ speaker.phone.mobile }} </p>
    <p ng-if="speaker.phone.work">phone (w): {{ speaker.phone.work }} </p>
    <p ng-if="speaker.address"> address: {{ speaker.address }} </p>
    <p ng-if="speaker.twitter"> twitter: <a ng-href="https://twitter.com/{{ speaker.twitter }}" target="_blank">@{{ speaker.twitter }}</a></p>
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="speakerFormUrl">
</div>